/*****************************************
Colors:
- Backgrounds - turquoise #00bfd8
- Backgrounds - blue #0079f9
- Backgrounds - light gray #f7fcfd
- Buttons, bullets, icons, links - turquoise #00bfd8
- Cards border, inputs border - light gray #c4d8dc
- Text headers, navbar links - black #393939
- Text body - black #626262
******************************************/
.mb-md {
  margin-bottom: 2.8rem;
}

.mb-sm {
  margin-bottom: 1.2rem;
}

.headding--primary {
  font-size: 4.3rem;
  line-height: 1.2;
  font-weight: 900;
}
.headding--primary .headding--first {
  display: block;
  color: #00bfd8;
}

.headding--secondary {
  text-transform: capitalize;
  font-size: 4rem;
  line-height: 1.2;
}

.headding--tertiary {
  font-size: 2.3rem;
}

.para--text {
  max-width: 62rem;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden !important;
}

.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .container {
    width: 95%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.fa-check {
  color: #00bfd8;
  margin-bottom: 1.2rem;
}

.fa-times {
  margin-bottom: 1.2rem;
}

.x {
  height: 100vh;
  background: greenyellow;
}

.nav {
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 6rem;
  position: fixed;
  width: 100%;
  transition: all 0.2s ease-in;
  z-index: 36;
}
@media only screen and (max-width: 66.875em) {
  .nav {
    background: #ffffff;
    padding: 2rem;
  }
}
.nav img {
  height: 3.5rem;
}
.nav__content {
  display: flex;
}
.nav__list {
  list-style-type: none;
  display: flex;
  align-content: center;
}
@media only screen and (max-width: 66.875em) {
  .nav__list {
    display: none;
  }
}
.nav__item {
  padding: 3px 1rem;
}
.nav__link:link, .nav__link:visited {
  font-size: 1.7rem;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  transition: color 0.2s ease-in;
  opacity: 0.7;
}
.nav__link:link:hover, .nav__link:visited:hover {
  opacity: 1 !important;
}
.nav__social--icons {
  align-self: center;
  margin-left: 1rem;
}
.nav__social--icons .fa-stack-2x {
  color: #40e0d0;
  transform: scale(0.9);
}
.nav__social--icons .fa-stack-1x {
  transform: scale(0.9);
  color: #ffffff;
  margin-left: 1rem;
}
@media only screen and (max-width: 66.875em) {
  .nav__social--icons {
    display: none;
  }
}
.nav__mobile {
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  display: none;
}
@media only screen and (max-width: 66.875em) {
  .nav__mobile {
    opacity: 1;
    display: block;
  }
}
.nav__radio {
  display: none;
}
.nav__radio:checked ~ .mobile__nav .mobile__nav--container {
  transform: translateY(0px);
}
.nav__menu {
  transform: translateY(-50%);
  margin-top: 50%;
  align-self: center;
  position: relative;
  display: block;
  width: 100%;
  height: 5px;
  background: #000000;
  border-radius: 1rem;
  transition: all 0.2s ease-in;
}
.nav__menu::after {
  content: "";
  transition: all 0.2s ease-in;
  border-radius: 1rem;
  position: absolute;
  bottom: -1rem;
  left: 0;
  background: #000000;
  display: block;
  width: 100%;
  height: 5px;
}
.nav__menu::before {
  content: "";
  transition: all 0.2s ease-in;
  border-radius: 1rem;
  position: absolute;
  left: 0;
  background: #000000;
  display: block;
  top: -1rem;
  width: 100%;
  height: 5px;
}
.nav__radio:checked ~ .nav__mobile .nav__menu::after {
  bottom: 0;
  transform: rotate(135deg);
  background: #000000;
}
.nav__radio:checked ~ .nav__mobile .nav__menu {
  background: transparent;
}
.nav__radio:checked ~ .nav__mobile .nav__menu::before {
  top: 0;
  transform: rotate(-135deg);
  background: #000000;
}

.nav__active {
  opacity: 1 !important;
}

.sticky {
  z-index: 36;
  background: white;
  padding: 2rem 6rem;
  align-items: center;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 5rem 1px rgba(0, 0, 0, 0.5);
}
.sticky a {
  color: #000000 !important;
}
.sticky a:hover {
  color: #00bfd8 !important;
}
.sticky .sticky__active {
  color: #00bfd8 !important;
}
@media only screen and (max-width: 43.75em) {
  .sticky {
    padding: 2rem;
    box-shadow: none;
  }
}
@media only screen and (max-width: 66.875em) {
  .sticky {
    box-shadow: none;
  }
}

.nav__radio:checked ~ .mobile__nav .mobile__nav--container {
  transform: translateX(0);
}

.mobile {
  background: 100vw;
}
.mobile__nav ul {
  display: none;
  opacity: 0;
  transition: transform 0.5s ease-in, box-shadow 0.1s ease-in 0.3s;
  padding-left: 2rem;
  width: 100vw;
  padding-top: 4.5rem;
  margin-top: 4rem;
  padding-bottom: 3rem;
  background: #ffffff;
  position: fixed;
  box-shadow: 0 0 5rem 1px rgba(0, 0, 0, 0.5);
  z-index: 35;
}
@media only screen and (max-width: 66.875em) {
  .mobile__nav ul {
    opacity: 1;
    display: block;
  }
}
.mobile__nav ul li {
  padding: 3px 1rem;
}
.mobile__nav ul li a {
  font-size: 1.7rem;
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
  transition: color 0.2s ease-in;
  opacity: 0.7;
  z-index: 111;
}
.mobile__nav ul li a:hover {
  opacity: 1 !important;
}

.nav--open {
  transform: translateY(0);
}

.nav--close {
  transform: translateY(-100%);
}

.btn--primary {
  border: none;
  outline: none;
  font-weight: 700;
  display: inline-block;
  padding: 2.2rem 4.2rem;
  border-radius: 5rem;
  background: #00bfd8;
  color: #ffffff;
  transition: all 0.2s ease-in;
  font: 700 0.75em/0 "Raleway", sans-serif;
  border: 2px solid #00bfd8;
}
.btn--primary:hover {
  border: 2px solid #00bfd8;
  color: #00bfd8;
  background: #ffffff;
}

.services {
  padding: 10rem 0;
  text-align: center;
}
.services__card {
  margin-top: 6rem;
  display: flex;
}
@media only screen and (max-width: 66.875em) {
  .services__card {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  border: 1px solid #00bfd8;
  padding: 3rem;
  margin: 0 2rem;
  width: 30%;
}
@media only screen and (max-width: 66.875em) {
  .card {
    margin: 3rem 0;
    width: 100%;
    max-width: 45rem;
    padding: 5rem 3rem;
  }
}
.card__img {
  width: 10rem;
  height: 12rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.8rem;
}
.card p {
  font-size: 1.4rem;
}

.details {
  padding: 5rem 0;
}
.details__content {
  display: flex;
}
@media only screen and (max-width: 66.875em) {
  .details__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.details__text--content {
  padding-left: 5rem;
  padding-top: 10rem;
  width: 50%;
}
@media only screen and (max-width: 66.875em) {
  .details__text--content {
    padding: 4rem 1rem;
    width: 100%;
    order: -1;
  }
}
.details__img--content {
  width: 50%;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 66.875em) {
  .details__img--content {
    width: 100%;
    padding: 3rem 2rem;
  }
}
@media only screen and (max-width: 66.875em) {
  .details__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
  }
}
.details__list li {
  max-width: 40rem;
  display: flex;
  margin: 1rem;
  align-items: center;
}
.details__list li span {
  white-space: nowrap;
  margin-left: 2.5rem;
}
@media only screen and (max-width: 43.75em) {
  .details__list li {
    align-items: flex-start;
  }
  .details__list li span {
    white-space: normal;
  }
}

.pricing {
  padding: 10rem 0;
  text-align: center;
}
.pricing__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5rem;
}
@media only screen and (max-width: 66.875em) {
  .pricing__content {
    flex-direction: column;
    align-items: center;
  }
}
.pricing__divide--hr {
  height: 1px;
  background-color: #00bfd8;
  border: none;
}
.pricing__card {
  position: relative;
  padding: 2rem;
  border: 1px solid #00bfd8;
  font-size: 1.4rem;
  color: #000000;
  flex: 0 1 35rem;
  margin: 0 2rem;
}
@media only screen and (max-width: 66.875em) {
  .pricing__card:not(:first-child) {
    margin-top: 8rem;
  }
}
.pricing__card--corner {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 12rem;
  overflow: hidden;
}
.pricing__card--corner p {
  position: relative;
  background: #00bfd8;
  color: #ffffff;
  padding: 3px;
  transform: rotate(46deg);
  font-size: 1.4rem;
  right: -140px;
  top: 16px;
}
@media only screen and (max-width: 66.875em) {
  .pricing__card--corner p {
    right: -106px;
    top: 16px;
  }
}
.pricing__card--title {
  color: #000000;
  font-weight: 700;
  font-size: 3rem;
}
.pricing__card--sub--text {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  color: #393939;
}
.pricing__card--price--body {
  padding: 2rem 0;
}
.pricing__card--price--body span:nth-child(1) {
  font-size: 2.9rem;
  display: inline-block;
  transform: translateY(-9px);
}
.pricing__card--price--body span {
  font-weight: 700;
  color: #00bfd8;
  font-size: 6rem;
}
.pricing__card--price--body p {
  font-weight: 500;
  font-size: 1.5rem;
}
.pricing__card--list {
  display: flex;
  flex-direction: column;
  padding: 2.3rem 0;
}
.pricing__card--list li {
  display: flex;
  padding: 3px 0;
}
.pricing__card--list li span {
  margin-left: 2.3rem;
  white-space: normal;
  text-align: left;
  line-height: 1.2;
}
.pricing--light--btn {
  position: absolute;
  left: 50%;
  bottom: -2.3rem;
  transform: translateX(-50%);
}

.header {
  padding: 10rem 0;
  background-image: url(../images/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
@media only screen and (max-width: 66.875em) {
  .header {
    background: #ffffff;
  }
}
.header__content {
  display: flex;
  padding: 6rem 0 0 0;
}
@media only screen and (max-width: 66.875em) {
  .header__content {
    flex-direction: column;
  }
}
.header__text--content {
  width: 50%;
  padding: 2rem;
  align-self: center;
}
@media only screen and (max-width: 66.875em) {
  .header__text--content {
    width: 100%;
    text-align: center;
  }
}
.header__img--content {
  width: 50%;
  padding: 2rem;
}
@media only screen and (max-width: 66.875em) {
  .header__img--content {
    width: 100%;
  }
}
.header__img--content img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
