/*****************************************
Colors:
- Backgrounds - turquoise #00bfd8
- Backgrounds - blue #0079f9
- Backgrounds - light gray #f7fcfd
- Buttons, bullets, icons, links - turquoise #00bfd8
- Cards border, inputs border - light gray #c4d8dc
- Text headers, navbar links - black #393939
- Text body - black #626262
******************************************/
.mb-md {
  margin-bottom: 2.8rem;
}

.headding--primary {
  font-size: 4.3rem;
  line-height: 1.2;
  font-weight: 900;
}
.headding--primary .headding--first {
  display: block;
  color: #00bfd8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .container {
    width: 85%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.x {
  height: 100vh;
  background: greenyellow;
}

.nav {
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-content: center;
  padding: 4rem 6rem;
  position: fixed;
  width: 100%;
  transition: all 0.2s ease-in;
}
.nav img {
  height: 3.5rem;
}
.nav__content {
  display: flex;
}
.nav__list {
  list-style-type: none;
  display: flex;
  align-content: center;
}
.nav__item {
  padding: 3px 1rem;
}
.nav__link:link, .nav__link:visited {
  font-size: 1.7rem;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  transition: color 0.2s ease-in;
  opacity: 0.7;
}
.nav__link:link:hover, .nav__link:visited:hover {
  opacity: 1 !important;
}
.nav__social--icons {
  align-self: center;
  margin-left: 1rem;
}
.nav__social--icons .fa-stack-2x {
  color: #40e0d0;
  transform: scale(0.9);
}
.nav__social--icons .fa-stack-1x {
  transform: scale(0.9);
  color: #ffffff;
  margin-left: 1rem;
}

.nav__active {
  opacity: 1 !important;
}

.sticky {
  background: rgba(255, 255, 255, 0.8);
  height: 2rem;
  padding: 3rem 6rem;
  align-items: center;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 5rem 1px rgba(0, 0, 0, 0.5);
}
.sticky a {
  color: #000000 !important;
}
.sticky a:hover {
  color: #00bfd8 !important;
}
.sticky .sticky__active {
  color: #00bfd8 !important;
}

.btn--primary {
  border: none;
  outline: none;
  font-weight: 700;
  display: inline-block;
  padding: 2.2rem 4.2rem;
  border-radius: 5rem;
  background: #00bfd8;
  color: #ffffff;
  transition: all 0.2s ease-in;
  font: 700 0.75em/0 "Raleway", sans-serif;
  border: 2px solid #00bfd8;
}
.btn--primary:hover {
  border: 2px solid #00bfd8;
  color: #00bfd8;
  background: #ffffff;
}

.header {
  padding: 10rem 0;
  background-image: url(../../images/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media only screen and (max-width: 66.875em) {
  .header {
    background: #ffffff;
  }
}
.header__content {
  display: flex;
  padding: 6rem 0 0 0;
}
@media only screen and (max-width: 66.875em) {
  .header__content {
    flex-direction: column;
  }
}
.header__text--content {
  width: 50%;
  padding: 2rem;
  align-self: center;
}
@media only screen and (max-width: 66.875em) {
  .header__text--content {
    width: 100%;
    text-align: center;
  }
}
.header__img--content {
  width: 50%;
  padding: 2rem;
}
@media only screen and (max-width: 66.875em) {
  .header__img--content {
    width: 100%;
  }
}
.header__img--content img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
