$color--secondary: #40e0d0;
$color--primary: #00bfd8;

$color--light: #f7fcfd;
$color--dark: #000000;
$color--gray: #393939;
$color--gray--light: #ebffff;
/*****************************************
Colors:
- Backgrounds - turquoise #00bfd8
- Backgrounds - blue #0079f9
- Backgrounds - light gray #f7fcfd
- Buttons, bullets, icons, links - turquoise #00bfd8
- Cards border, inputs border - light gray #c4d8dc
- Text headers, navbar links - black #393939
- Text body - black #626262
******************************************/
