.header {
  padding: 10rem 0;
  background-image: url(../../images/header-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;

  @include respond(tab-lands) {
    background: $color--light;
  }
  &__content {
    display: flex;
    padding: 6rem 0 0 0;
    @include respond(tab-lands) {
      flex-direction: column;
    }
  }
  &__text--content {
    width: 50%;
    padding: 2rem;
    align-self: center;
    @include respond(tab-lands) {
      width: 100%;
      text-align: center;
    }
  }

  &__img--content {
    width: 50%;
    padding: 2rem;
    @include respond(tab-lands) {
      width: 100%;
    }
    & img {
      width: 100%;
    }
  }
}
