.headding--primary {
  font-size: 4.3rem;
  line-height: 1.2;
  font-weight: 900;
  & .headding--first {
    display: block;
    color: $color--primary;
  }
}
.headding--secondary {
  text-transform: capitalize;
  font-size: 4rem;
  line-height: 1.2;
}
.headding--tertiary {
  font-size: 2.3rem;
}
